/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-color: rgb(245, 245, 245);
  margin: 0px;
  padding: 0px;
}



