@import '~@angular/material/theming';

$config: mat-typography-config();
$level: 300;

.mat-display-1 {
	font-weight: 300;
	color: rgb(150, 150, 150);
}

.mat-display-2 {
	font-weight: 300;
	color: rgb(75, 75, 75);
}

.mat-display-3 {
	font-weight: 300;
	color: rgb(75, 75, 75);
}

.mat-display-4 {
	font-weight: 300;
	color: rgb(75, 75, 75);
}

.mat-title {
	color: rgb(75, 75, 75);
}

.mat-headline {
	color: mat-color($mat-grey, 700);
}

.mat-body-1 {
	color: rgb(75, 75, 75);
	line-height: 1.5em;
	margin: 0;
}

.mat-subheading-2 {
	color: rgb(120, 120, 120);
}

// FILTER TITLE
.mat-subheading-1 {
	color: mat-color($mat-grey, 700);
	font-weight: 500 !important;
}

.lp-land-type-button .mat-button-focus-overlay {
	background: none;
}

.mat-optgroup-label,
.mat-option {
	font-size: 13px !important;
}

.mat-option, .mat-option-text, .mat-optgroup-label {
	height: 38px !important;
}

.mat-option-text {
  line-height: 38px;
}

@include mat-core();

$lp-app-primary: mat-palette($mat-green);
$lp-app-accent: mat-palette($mat-green, A200, A100, A400);
$lp-app-warn: mat-palette($mat-red);
$lp-app-theme: mat-light-theme($lp-app-primary, $lp-app-accent, $lp-app-warn);
$lp-app-text-color: mat-color($mat-grey, 700);
@include angular-material-theme($lp-app-theme);
