@import '../../../theme.scss';

:host {
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  .lp-land-type-filter-type-container {
    color: $lp-app-text-color;
    display: flex;
    flex-direction: row;
    font-size: 13px;
    margin-bottom: 10px;

    .lp-land-type-filter-type-subcontainer {
      flex-basis: 50%;
      display: inline-flex;
      flex-direction: column;
      line-height: 2em;
    }
  }

  .lp-land-type-filter-button-container {
    color: $lp-app-text-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;

    .lp-land-type-filter-button-check-all {
      font-size: 13px;
      justify-content: end;
      padding: 0;
      width: auto;
    }

    .lp-land-type-filter-button-uncheck-all {
      font-size: 13px;
      justify-content: end;
      padding: 0;
    }
  }
}
