:host {
	display: flex;
	flex-direction: column;

	mat-form-field {
		font-size: 13px;
	}



	.lp-area-filter-autocomplete-container {
		width: 100%;
	}
	.lp-area-filter-chip-container {
		.lp-area-filter-chip {
			color: white !important;
		}

		.lp-area-filter-chip .lp-area-filter-chip-cancel {
			color: white !important;
			opacity: 1 !important;
		}
	}
}
