<mat-form-field hideRequiredMarker="true" floatLabel="never" class="lp-area-filter-autocomplete-container">
  <input matInput [placeholder]="'area-filter.label' | translate" #areaInput [formControl]="areaAutocompleteControl" [matAutocomplete]="auto"/>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onAreaSelect($event)" [displayWith]="display" autoActiveFirstOption>
    <mat-optgroup *ngFor="let group of filteredAreaGroups | async" [label]="'area-type.' + group.type.toLowerCase().split('_').join('-') | translate | uppercase">
      <mat-option *ngFor="let area of group.areas" [value]="area">
        {{ area.name }}
      </mat-option>
    </mat-optgroup>
  </mat-autocomplete>
</mat-form-field>
<div class="lp-area-filter-chip-container">
  <section class="mat-typography">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let area of selectedAreas" selected="true" selectable="true" removable="true" class="lp-area-filter-chip" color="primary"
        (removed)="onAreaRemove(area)">
        {{area.name}}
        <mat-icon matChipRemove class="lp-area-filter-chip-cancel">cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </section>
</div>
