@import '../../../theme.scss';

:host{
  border: 1px solid mat-color($mat-grey, 300);
  display: block;
  height: 200px;
  width: 200px;

  div {
    display: block;
    height: 100%;
    width: 100%;
  }
}
