<div class="lp-search-table-ctn mat-elevation-z8">
  <div *ngIf="isLoading" class="lp-search-table-loader">
    <mat-spinner></mat-spinner>
  </div>
  <div>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="landNumber">
        <th mat-header-cell *matHeaderCellDef>{{ 'land-search.result.table.column.land-number.label' | translate }}</th>
        <td mat-cell *matCellDef="let land">{{land.trunkNumber}}{{ (land.underDivisionNumber) ? '/' +
          land.underDivisionNumber : '' }}</td>
      </ng-container>
      <ng-container matColumnDef="cityArea">
        <th mat-header-cell *matHeaderCellDef>{{ 'land-search.result.table.column.city-area.label' | translate }}</th>
        <td mat-cell *matCellDef="let land">{{land.cityArea}}</td>
      </ng-container>
      <ng-container matColumnDef="cadstralTerritoryArea">
        <th mat-header-cell *matHeaderCellDef>{{ 'land-search.result.table.column.cadastral-territory-area.label' | translate }}</th>
        <td mat-cell *matCellDef="let land">{{land.cadastralTerritoryArea}}</td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>{{ 'land-search.result.table.column.type.label' | translate }}</th>
        <td mat-cell *matCellDef="let land">{{ 'land-type.' + land.type.split('_').join('-') | lowercase | translate }}</td>
      </ng-container>
      <ng-container matColumnDef="acreage">
        <th mat-header-cell *matHeaderCellDef>{{ 'land-search.result.table.column.acreage.label' | translate }}</th>
        <td mat-cell *matCellDef="let land">{{land.acreage}}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let land">
          <button mat-icon-button color="primary" (click)="showOnMap.emit({landId: land.id})">
            <mat-icon svgIcon="map"></mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 50]" [pageSize]="defaultPageSize" [length]="totalLands"
      showFirstLastButtons></mat-paginator>
  </div>
</div>
