.lp-search-table-ctn {
	position: relative;
	margin: 15px;

	.lp-search-table-loader {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 56px;
		right: 0;
		background: rgba(0, 0, 0, 0.15);
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	table {
    width: 100%;
    td:last-child{
      text-align: end;
    }
	}
}
