<form [formGroup]="landSearchForm" (ngSubmit)="onSubmit()">
  <!-- AREA FILTER -->
  <div class="lp-land-search-filter-item-ctn">
    <span class="mat-subheading-1">{{ 'land-search.filter.area-filter.label' | translate }}</span>
    <lp-area-filter [areaForm]="areaForm"></lp-area-filter>
  </div>
  <!-- ACREAGE FILTER -->
  <div class="lp-land-search-filter-item-ctn">
    <span class="mat-subheading-1">{{ 'land-search.filter.acreage-filter.label' | translate }}</span>
    <lp-acreage-filter [acreageForm]="acreageForm"></lp-acreage-filter>
  </div>
  <!-- LAND TYPE FILTER -->
  <div class="lp-land-search-filter-item-ctn">
    <span class="mat-subheading-1">{{ 'land-search.filter.land-type-filter.label' | translate }}</span>
    <lp-land-type-filter [landTypeForm]="landTypeForm"></lp-land-type-filter>
  </div>
  <!-- SEARCH BUTTON -->
  <div class="lp-land-search-filter-button-ctn">
    <button type="submit" mat-flat-button color="primary" [disabled]="!isValidAndUpdated()">
      <span class="lp-land-search-filter-button-label">
        <span>{{ 'land-search.filter.button.search.label' | translate | uppercase }}</span>
        <ng-container *ngIf="this.landSearchForm.valid">
          <mat-spinner *ngIf="expectedCountOfLands === undefined" [diameter]="15"></mat-spinner>
          <span *ngIf="expectedCountOfLands !== undefined">{{
            'land-search.filter.button.search.count.label' | translate : {count: expectedCountOfLands} | uppercase }}
          </span>
        </ng-container>
      </span>
    </button>
  </div>
</form>
