.lp-land-search-filter-item-ctn:not(:first-child) {
	margin-top: 20px;
}
.lp-land-search-filter-button-ctn {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	button {
		color: white;
		width: 60%;

		.lp-land-search-filter-button-label {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			padding: 0px 10px;

			.mat-spinner::ng-deep circle {
				stroke: white;
			}
		}
	}
}
