<!-- ACREAGE FROM -->
<mat-form-field hideRequiredMarker="true" floatLabel="never">
  <input matInput type="number" [placeholder]="'acreage-filter.from.label' | translate" required [formControl]="acreageFrom"
    min="0" [max]="acreageTo.value" step="50" (focus)="$event.target.select()">
  <span matSuffix>m
    <sup>2</sup>
  </span>
  <!-- ERRORS -->
  <mat-error *ngIf="acreageFrom.hasError('lessThanZero')">{{ 'acreage-filter.from.error.less-than-zero' | translate}}</mat-error>
  <mat-error *ngIf="acreageFrom.hasError('invalid')">{{ 'acreage-filter.from.error.invalid' | translate}}</mat-error>
</mat-form-field>

<!-- ACREAGE TO -->
<mat-form-field hideRequiredMarker="true" floatLabel="never">
  <input matInput type="number" [placeholder]="'acreage-filter.to.label' | translate" required [formControl]="acreageTo" [min]="acreageFrom.value"
    max="50000" step="50"  (focus)="$event.target.select()">
  <span matSuffix>m
    <sup>2</sup>
  </span>
  <!-- ERRORS -->
  <mat-error *ngIf="acreageTo.hasError('lessThanZero')">{{ 'acreage-filter.to.error.less-than-zero' | translate}}</mat-error>
  <mat-error *ngIf="acreageTo.hasError('invalid')">{{ 'acreage-filter.to.error.invalid' | translate}}</mat-error>
</mat-form-field>
