
<div *ngIf="landSearchResult && landSearchResult.lands.length === 0" class="lp-search-result-no-result">
  <p class="mat-display-1">{{ 'land-search.result.no-results' | translate }}</p>
</div>
<ng-container *ngIf="landSearchResult && landSearchResult.lands.length > 0">
    <mat-toolbar>
        <mat-toolbar-row>
          <span class="mat-headline">{{ 'land-search.result.title' | translate }}</span>
          <div>
            <button mat-icon-button color="primary" matTooltip="{{ 'land-search.result.share.tooltip' | translate }}" (click)="onShare()">
              <mat-icon svgIcon="share"></mat-icon>
            </button>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
  <lp-land-search-table [landSearchResult]="landSearchResult" (changePagination)="onPaginationChange($event)"
    (showOnMap)="onShowOnMap($event)"></lp-land-search-table>
</ng-container>
