:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
	width: 100%;
	mat-toolbar-row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		span {
			margin: 0px;
		}
	}

	.lp-search-result-no-result {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    p {
      font-weight: 300;
    }
	}
}
