@import "../../theme.scss";

:host {
  display: flex;
  flex-direction: row;
  min-height: calc(100vmin - 30px);
  padding-top: 30px;

  .lp-land-search-filter-icon-ctn,
  .lp-land-search-map-icon-ctn {
    padding: 12px 30px 0px 30px;
    button {
      background: mat-color($lp-app-primary);
      color: white;
    }
  }

  mat-sidenav-container {
    background: none;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;

    .lp-land-search-filter-sidenav {
      width: 350px;
    }
    .lp-land-search-map-sidenav {
      width: 600px;
    }

    mat-sidenav {
      padding-top: 12px;
      background: none;

      .lp-land-search-filter-header {
        justify-content: flex-start;
      }

      .lp-land-search-map-header {
        justify-content: flex-end;
      }

      .lp-land-search-filter-header,
      .lp-land-search-map-header {
        display: flex;
        align-items: center;
        width: 100%;
        span {
          color: mat-color($mat-grey, 400);
          font-size: 18px;
        }
        mat-icon {
          color: mat-color($mat-grey, 400);
          height: 40px;
          width: 40px;
        }
      }
      .lp-land-search-filter-content,
      .lp-land-search-map-content {
        padding: 24px 15px 0px 15px;
      }
    }

    mat-sidenav-content {
      display: flex;
      align-items: flex-start;
      // background-color: mat-color($mat-grey, 200);
      width: 100%;

      .lp-land-search-loader {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
      }
    }
  }
}
