<!-- BUTTON FOR DISPLAYING FILTER SIDENAV-->
<div *ngIf="!isFilterOpened" class="lp-land-search-filter-icon-ctn">
  <button mat-mini-fab (click)="onFilterOpen()">
    <mat-icon svgIcon="filter"></mat-icon>
  </button>
</div>
<mat-sidenav-container>
  <!-- FILTER SIDENAV-->
  <mat-sidenav mode="side" [opened]="isFilterOpened" class="lp-land-search-filter-sidenav">
    <div class="lp-land-search-filter-header">
      <button mat-button (click)="onFilterClose()">
        <mat-icon svgIcon="left-chevron"></mat-icon>
        <span class="mat-typography">{{ 'land-search.filter.title' | translate }}</span>
      </button>
    </div>
    <div class="lp-land-search-filter-content">
      <lp-land-search-filter *ngIf="isFilterVisibled" [filter]="landSearchFilter" (submitFilter)="onFilterChange($event)"></lp-land-search-filter>
    </div>
  </mat-sidenav>
  <!-- MAP SIDENAV-->
  <mat-sidenav mode="side" [opened]="isMapOpened && landSearchResult.lands && landSearchResult.lands.length > 0"
    position="end" class="lp-land-search-map-sidenav">
    <div class="lp-land-search-map-header">
      <button mat-button (click)="onMapClose()">
        <span class="mat-typography">{{ 'land-search.map.title' | translate }}</span>
        <mat-icon svgIcon="right-chevron"></mat-icon>
      </button>
    </div>
    <div class="lp-land-search-map-content">
      <lp-land-search-map [lands]="landsForMap"></lp-land-search-map>
    </div>
  </mat-sidenav>
  <!-- TABLE SIDENAV CONTENT-->
  <mat-sidenav-content>
    <!-- INFO -->
    <lp-land-search-info *ngIf="!landSearchResult && !isLoading"></lp-land-search-info>
    <!-- SPINNER FOR FIRST SEARCHING -->
    <div *ngIf="isLoading" class="lp-land-search-loader">
      <mat-spinner></mat-spinner>
    </div>
    <!-- RESULT WITH TABLE -->
    <lp-land-search-result *ngIf="landSearchResult && !isLoading" [landSearchResult]="landSearchResult"
      (changePagination)="onPaginationChange($event)" (showOnMap)="onShowOnMap($event)"></lp-land-search-result>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- BUTTON FOR DISPLAYING MAP SIDENAV-->
<div *ngIf="!isMapOpened && landSearchResult && landSearchResult.lands && landSearchResult.lands.length > 0" class="lp-land-search-map-icon-ctn">
  <button mat-mini-fab (click)="onMapOpen()">
    <mat-icon svgIcon="map"></mat-icon>
  </button>
</div>
